<!-- Toolbar -->
<mat-toolbar color="primary">
  <span>
    <mat-icon>mood</mat-icon>
  </span>

  <span>Yay, Material in Angular 2!</span>

  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>
</mat-toolbar>

<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>

  <!-- Resources -->
  <div class="card-container">
    <a
      class="card"
      target="_blank"
      rel="noopener"
      href="https://angular.io/tutorial"
    >
      <span>Learn Angular</span>
    </a>
  </div>

  <!-- Next Steps -->
  <input type="hidden" #selection />

  <div class="card-container">
    <div
      class="card card-small"
      (click)="selection.value = 'component'"
      tabindex="0"
    >
      <span>New Component</span>
    </div>

    <div
      class="card card-small"
      (click)="selection.value = 'material'"
      tabindex="0"
    >
      <span>Angular Material</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Add PWA Support</span>
    </div>

    <div
      class="card card-small"
      (click)="selection.value = 'dependency'"
      tabindex="0"
    >
      <span>Add Dependency</span>
    </div>

    <div
      class="card card-small"
      (click)="selection.value = 'test'"
      tabindex="0"
    >
      <span>Run and Watch Tests</span>
    </div>

    <div
      class="card card-small"
      (click)="selection.value = 'build'"
      tabindex="0"
    >
      <span>Build for Production</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
