html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom,  #9b5ffe 0%,#8072fb 100%);
}

app-root {
  max-width: 1024px;
  margin: 0 auto;
  background: white;
  display: block;
  height: 100%;
}
