.match-list {
  height: 100%;
  background: linear-gradient(to bottom,  #9b5ffe 0%,#8072fb 100%);

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;

    li.match {
      flex: 1;
      min-width: 250px;
      max-width: 250px;
      padding: 1em;
      margin: 1em;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
      cursor: pointer;
      position: relative;
      background: linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);

      .live {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.8em;
        background-color: red;
        color: #fff;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0 5px;
      }

      .cb-hmscg-tm-nm {
        font-weight: bold;
      }
    }
  }
}
