.match-list {
  height: 100%;
  display: flex;
  flex-direction: column;

  .error-container {
    margin: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
  }

  iframe {
    height: 350px;
    width: calc(100% - 4em);
    margin: 2em;
    box-sizing: border-box;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;

    li.match {
      flex: 1;
      min-width: 250px;
      max-width: 250px;
      padding: 1em;
      margin: 1em;
      border-radius: 5px;
      box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
      color: #fff;
      cursor: pointer;
      position: relative;
      background: linear-gradient(45deg, #5260a2 0%, #2C3666 100%);

      .live {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.8em;
        background-color: red;
        color: #fff;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0 5px;
      }

      .cb-hmscg-tm-nm {
        font-weight: bold;
      }
    }
  }
}
